/* Base files. */
@import "base/normalizev8";

/* latin */
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans Regular'), local('DroidSans-Regular'), url(https://fonts.gstatic.com/s/droidsans/v9/SlGVmQWMvZQIdix7AFxXkHNSbQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

$white:    #fff;
$gray-300: #dee2e6;
$gray-800: #343a40;
$gray-666: #575f62;
$hover: #b0c3d1;
$max-width: 100%;
$max-width-lg: 960px;
$primary: #444;
$secondary: #888;
$base-color: #9ab8cc;
$base-color-hover: darken($base-color, 10%);

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
	font-family: "Droid Sans";
	background-color: $gray-666;
	position: relative;
	min-height: 100%;  // 100vh;
}

/*************************************
NAVBAR
*************************************/
.nav {
  font-size: 90%;
	height: 3vh; // 40px;
	margin: 0 0 1.2em 0;
  padding-top: 10px;
  text-align: center;

	ul {
		margin: 0 auto;
		padding-left: 0;
		padding-top: 2px;
		li {
			display: inline-block;
		}
	}
}

.nav:hover > ul > li {
	cursor: pointer;
}

.nav-li {
	padding-left: 0.8rem;
	padding-right: 0.8rem;
}

/* This gets the <a></a> on one line  */
#nav-anchor {
	padding: 0.01rem 0.2rem 0rem 0.2rem;
}

/*************************************
HEADER
*************************************/
.header {
  // background-color: $gray-300;
  background-image: url('../imgs/laptop-with-web-code-1300w-867h.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  resize: both;

  position: relative;
  height: 100vh;
  min-height: 500px;
  max-height: 1080px;
  padding: 26.8% 0;
  overflow: hidden;
}

.jumbotron {
  max-width: 880px;
  text-align: center;
  margin: auto;
  padding: 20px;
  font-size: 0;
}

.jumbotron-center {
  box-sizing: border-box;
  display: inline-block;
  font-size: 1.25rem;
  text-align: center;
  padding: 20px;
  vertical-align: top;
  width: 100%;

  position: absolute;
  bottom: 0;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba($base-color-hover, 0.8);
  z-index: 1;
}

.title-name {
  color: $white;
  left: calc(-72% + 5px);
  z-index: 12;
  position: relative;
  margin-top: 75px;
  width: 135%;
  min-width: 175px;
  max-height: 110px;
  // margin: 20px auto;
  // display: block;
}

.title-job {
  color: #fff;
  display: block;
  font-size: 103%;
  margin: 0.5em 0;
  top: 42%;
  z-index: 12;
  line-height: 100%;
  position: absolute;
  bottom: 0;
  left: -101%;
  right: 0;
  margin: 0 auto;
  width: 82%;
  min-width: 152px;
  padding: 0;
}

.btn  {
  color: #fff;
  font-size: 14px;
  top: 55%;
  z-index: 12;
  position: absolute;
  padding: 3px 5px;
  left: -104%;
  margin: 0 auto;
  right: 0;
  border: 4px solid #fff;
  border-radius: 50px;
  width: 82%;
  min-width: 100px;
  max-width: 159px;
}

.btn:hover {
  background-color: $white;
}

a, a:link, a:active {
	color: $white;
  text-decoration: none;
}

a:hover, a:focus {
  color: $hover;
}

/*************************************
MAIN
*************************************/
.container {
  margin: auto;
  padding: 3% 0;
  text-align: center;
  overflow: hidden;
  scroll-behavior: smooth;
}

.wrapper {
  margin: 0 45px;
  padding: 20px;
  max-width: 100%;

  /* Adds line between .card rows  */
  // > .card > a > img {
  //  border-bottom: 1px solid #fff;
  // }
}

.card {
	text-align: center;
  margin-bottom: 45px;
}

.card-title {
	font-size: 175%;
	line-height: 1.5;
	margin-top: 10px;
	margin-bottom: -5px;
}

.card-text {
  display: block;
  orphans: 2;
	padding: 0 4rem;
}

img {
  /* RWD style for images  */
	height: auto;
	max-width: 100%;
  padding: 1.1rem 2.3rem;
}

.size {
	width: 400px;
	height: 250px;
}

.link {
	overflow: hidden;
	height: 300px;
	widows: 300px;
}

footer {
	background-color: $gray-300;
  clear: both;
	padding: 2px 0;
  text-align: center;
  width: 100%;
}

/*************************************
Clearfix
*************************************/
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
	clear: both;
}

/***********************************************************
Media Queries
***********************************************************/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 200px) {
  /* Make the Header Nav stay responsive ****************************/
  .nav {
    margin-bottom: 135px !important;
    margin-bottom: 78px;
    padding: 18px;
    height: 18vh !important;

    ul > li:last-child {
      padding-top: 0 !important;
    }

    li {
      margin: 0.7rem 0;
    }
  }

  img {
    /* Adds line between .card rows  */
    border-bottom: 1px solid #fff;
  }
}  //<----------------OK

@media only screen and (max-width: 299px) {
  .nav {
    margin-bottom: 77px;
    padding: 20px;
  }

  .nav ul > li:last-child {
    padding-top: 1rem;
  }
  .jumbotron, .jumbotron-center {
    padding: 0;
  }
  .btn {
    top: 62%;
  }
} //<----------------OK

@media only screen and (max-width: 376px) {
  .nav {
    height: 7vh;
    > ul > li {
      padding-top: 5px;
      height: 3vh;
    }
  }

  .header {
    height: auto;
    min-height: 350px;
  }

  .card-text {
    padding: 0;
  }

  .size {
    padding: 0;
  }

  .wrapper {
    padding: 0;
    margin: 0 35px;
  }

  .line {
    max-width: 100% !important;
  }
} //<----------------OK



// @media only screen and (max-width: 617px) {
//   .title-job {
//     margin-top: 100px;
//   }
//   .title-name {
//     margin-top: 75px;
//   }
// }



@media only screen and (max-width: 640px) {
  /* No line for the last row of .cards  */
  .wrapper > div:nth-child(n + 12) {
    hr {
      border: 0;
    }
  }
}

@media only screen and (max-width: 934px) {
  .line {
    max-width: 55%;
  }
}

@media only screen and (min-width: 376px) {
  .nav {
    height: 6vh;
  }

  .header {
    height: auto;
    min-height: 390px;
  }

  // .title-name {
  //   left: -67%;
  //   margin-top: 60px;
  //   width: 125%;
  // }
  //
  // .title-job {
  //   font-size: 100%;
  //   top: 35%;
  // }
  //
  // .btn  {
  //   top: 55%;
  // }

  .card-text {
    padding: 0 1em;
  }
}


@media only screen and (min-width: 480px) {
  .header {
    min-height: 405px;
  }
}
@media only screen and (min-width: 530px) {
  .header {
    min-height: 415px;
  }
}
@media only screen and (min-width: 575px) {
  .header {
    min-height: 430px;
  }

  .title-job {
    font-size: 35px;
  }

  .btn {
    top: 65%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 641px) {
  .nav {
    height: 5vh;

    ul {
      font-size: 135%;
    }

    li {
      padding-left: 20px;
      padding-right: 20px;

      a {
        font-size: 110%;
      }
    }
  }

  .header {
    min-height: 445px;
  }

  .btn {
    top: 55%;
  }

  .wrapper > div:nth-child(n + 12) {
    hr {
      border: 0;
    }
  }

  img {
    padding: 0;
  }

} //<----------------OK

@media only screen and (min-width: 680px) {
  .header {
    min-height: 455px;
  }
}
@media only screen and (min-width: 725px) {
  .header {
    min-height: 480px;
  }
}

@media only screen and (min-width: 934px) {
  /* Large devices (laptops/desktops, 992px and up) ***************/
  .header {
    padding: 0;
  }

  /* pop out to two cards side by side on the screen, so projects display 2 x 6 **/
  .wrapper > div:nth-child(n + 11) {
    hr {
      border: 0;
    }
  }

  .card {
    display: inline-block;
    width: 45%;

    img {
      max-width: 100%;
      padding: 0 1rem;
      width: 450px;
    }
  }
}

@media only screen and (min-width: 934px) {
  .title-job {
    left: -106%;
    top: 220px;
    font-size: 35px;
  }

  .btn {
    left: -107%;
    top: 290px;
  }
}

/* Switch to three Cards on larger screens ********************/
@media only screen and (min-width: 1250px) and (orientation: landscape) {
  .wrapper > div:nth-child(n + 10) {
    hr {
      border: 0;
    }
  }

  .card {
    width: 33%;

    img {
      padding: 0 0.9rem;
    }
  }
}
