/* Base files. */
@import "base/normalizev8";

/* latin */
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans Regular'), local('DroidSans-Regular'), url(https://fonts.gstatic.com/s/droidsans/v9/SlGVmQWMvZQIdix7AFxXkHNSbQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

$white:    #fff;
$gray-300: #dee2e6;
$gray-800: #343a40;
$gray-666: #575f62;
$max-width: 100%;
$max-width-lg: 960px;
$primary: #444;
$secondary: #888;

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
	font-family: "Droid Sans";
  // margin-bottom: 30px;
	background-color: $gray-666;
	position: relative;
	min-height: 100%;  // 100vh;
}

/* Add space btwn jumbotron & first card NOT WORKING HITS ALL  */
div:first-of-type {
  // padding-top: 1.5rem;
}

/*************************************
HEADER
*************************************/
.nav {
  font-size: 90%;
	height: 5vh; // 40px;
	margin: 0 0 .45em 0;
  padding-top: 10px;
  text-align: center;

	ul {
		margin: 0 auto;
		padding-left: 0;
		padding-top: 2px;
		li {
			display: inline-block;
		}
	}
}

.nav:hover > ul > li {
	cursor: pointer;
}

.nav-li {
	padding-left: 0.8rem;
	padding-right: 0.8rem;
}

/* These two styles get the <a></a> on one line  */
.nav-anchor {
	padding: 0.01rem 0.2rem 0rem 0.2rem;
}
.nav-anchor:first-child {
	// padding: 0.01rem 0.2rem 0rem 0.6rem;
}

.header {
	// margin: 0 auto;
	text-align: center;
  width: 100%;
}
.jumbotron {
	// background-color: $gray-300;
  // padding: 2rem 2rem 7rem 2rem;
  // max-width: 100%;
  // height: calc(32vh - 44px);  // 300px;

  position: relative;
}
.sizing {
  width: 100%;
  padding-bottom: 49.5%;
  visibility: hidden;
}
.h1-name {
  width: 100%;

  max-height: 50vh;
  background-color: $gray-300;
  position: absolute;
  margin-top: -50%;
  z-index: -1;
  font-size: 3.6em;
  padding: 2rem 0 11.5rem 0;
  // max-width: 100%;
  // height: calc(32vh - 44px);  // 300px;
  height: 48%;

  // Sunday styles
  // max-height: 71px;
  // margin-left: -15px;
  // margin-top: -20px;
}

.job-title {
  width: 100%;
  padding: 25px 0;
  max-height: 32vh; // or 50%
  // background-color: rgba(148, 81, 184, 0.7);
  position: absolute;
  margin-top: -30%; // or -25%
  z-index: 2;
  justify-content: center;
  // width: 100%;
  // position: absolute;
  // max-height: 32vh;
  // position: absolute;
  // margin-top: -40%;
  // z-index: 2;
	font-size: 1.6rem;
	letter-spacing: .15em;
	line-height: 0.999em;
	// word-spacing: .2em;

  margin-left: -50%;
}

a, a:link, a:active {
	color: $white;
  text-decoration: none;
}

a:hover, a:focus {
  color: #b0c3d1;
}
/***************************************/
/*  elements
/***************************************/
img {
	border-radius: 5px;
  /* RWD style for images  */
	height: auto;
	max-width: 100%;
	width: auto;

  padding: 1.1rem 2.3rem;
}

footer {
	background-color: $gray-300;
  clear: both;
	padding: 2px 0;
  text-align: center;
  width: 100%;
}

/* SKELETON GRID STYLES **************************************************/
.container {
  align-content: center;
  padding: 5% 0;
}

/* Class Styles *********************************************/
.card {
	text-align: center;
}

.card-title {
	border-bottom: 1px solid #535557;
	// display: inline-block;
	font-size: 175%;
	line-height: 1.5;
	margin-top: 10px;
	// width: 331px;
}

.card-text {
	padding: 0 4rem;
}

.size {
	width: 400px;
	height: 250px;
}

.link {
	overflow: hidden;
	height: 300px;
	widows: 300px;
}

/*************************************
Clearfix
*************************************/
/*.clearfix::after {
  content: '';
  display: table;
  clear: both;
}*/
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
	clear: both;
}

/***********************************************************
Media Queries
***********************************************************/
@media only screen and (max-width: 310px) {
  .nav {
    margin-bottom: 48px;
    padding: 20px;
  }
}

@media only screen and (max-width: 199px) {
  .nav {
    margin-bottom: 78px;
    padding: 20px;

    li {
      margin: 0.5rem 0;

    }
  }
}

/* Make the Header Nav stay responsive ****************************/
@media only screen and (max-width: 194px) {
  .nav {
    margin-bottom: 115px !important;
  }
}
/* End Header Nav stay responsive *********************************/

/* Make the Header Nav bigger on larger screens ********************/
@media only screen and (min-width: 375px) {
  .nav ul {
    /* RWD style */
    font-size: 98%;  // 102%;
    margin-top: 0.1rem;
    padding-bottom: 20px;
    padding-top: 0; // 5px;
    width: 100%;
  }
}

@media only screen and (min-width: 550px) {
  // .jumbotron {
  //     padding: 2rem 2rem 19rem 0;
  // }

  .card {
    width: 100%;
  }
}

/* Make the Jumbotron bigger on larger screens ****************/
@media only screen and (min-width: 590px) {
  .h1-name {
    font-size: 5rem;
  }
  .job-title {
    font-size: 2.5rem;
    letter-spacing: .1em;
  }
}
/* End Jumbotron bigger on larger screens ********************/

@media only screen and (min-width: 641px) {
  .nav ul {
    /* RWD style go */
    // font-size: 2.3rem;
    // height: 45px;
    // margin: -0.6rem 0 .45em 0;
    // padding-top: 0;

    li {
      // font-size: 0.9rem;
      padding-left: 20px;
      padding-right: 20px;

      a {
        font-size: 110%;
      }
    }
  }
  .jumbotron {
      padding: 2rem 2rem 19rem 0;
  }
}
/* End Header Nav bigger on larger screens ********************/

/* pop out to two cards side by side on the screen, so projects display 2 x 6 ****************/
@media only screen and (min-width: 934px) {
  .card {
    display: inline-block;
    width: 45%;

    img {
      max-width: 100%;
    }
  }
}
/* End Cards bigger on larger screens ********************/

/* Switch to three Cards on larger screens ********************/
@media only screen and (min-width: 1250px) and (orientation: landscape) {
  .card {
    width: 30%;
  }
}

/* Not being used yet *********************************/
// @media only screen and (max-width: 768px),
//        only screen and (max-width: 700px) and (orientation: landscape) {

  // main {
  //   margin-left: 2.5%;
  //   margin-right: 2.5%;
	//
  //   .card {
  //   	width: 100%;
  //       img {
  //         width: 100%;
  //       }
  //     }
  //   }
  // }


/*@media only screen and (max-width: 1140px) and (orientation: landscape) {
	// Works at small size?
  .card {
    // padding: 10px 3%;
  }
}*/
