footer.section
	.col-sm-2.top
		span#to-top
			i.fa.fa-chevron-up(aria-hidden='true')
	.col-sm-5.social
		ul
			li
				a(href='https://github.com/' target='_blank')
					i.fa.fa-github(aria-hidden='true')
			li
				a(href='https://linkedin.com/' target='_blank')
					i.fa.fa-linkedin(aria-hidden='true')
	p
		| FullStack JavaScript BattleBot 
	script(type='text/javascript').
		document.write(new Date().getFullYear());
