footer
	.container
		.row
			.col-sm-5.copyright
				p Copyright &copy; 
					script(type='text/javascript').
						document.write(new Date().getFullYear());
					|  Adam Palmer  
			.col-sm-2.top
				span#to-top
					i.fa.fa-chevron-up(aria-hidden='true')
			.col-sm-5.social
				ul
					li
						a(href='https://www.github.com/apalm112' target='_blank')
							i.fa.fa-github(aria-hidden='true')
					li
						a(href='https://www.linkedin.com/in/adapalmer' target='_blank')
							i.fa.fa-linkedin(aria-hidden='true')
