.background-alt.section#about
  .container
    .row
      .col-md-4
        h2.heading About Me
        img.about-me(src='./imgs/about-me.jpeg')
      .col-md-8
        p
          | Strongly prepared and skilled Jr. FullStack JavaScript Developer looking for my first opportunity to contribute to a development team. Ongoing and developed skills include JavaScript, HTML, CSS, Git, GitHub, JQuery, AJAX, Node.js, Express, Gulp, React, SQL, and Rest API. I have a long history of teamwork, problem-solving and successful deployments. The deployments I speak of was from my past as a lead brewer at the famous Pike Brewery in Seattle, Washington. For eight years, I worked with team members to produce and deliver craft beer using detailed communication, problem solving and flexibility. I can work in a fast-paced team environment. And now that I have completed my hands on education with Treehouse and Code Fellows, I am ready to contribute to the success of a development team. 

          | I am currently located in Orlando, FL but able to quickly relocate to start off my career as a Jr. FullStack JavaScript Developer. 
