.background-alt.section#about
  .container
    .row
      .col-md-4
        h2.heading About Me
        img.about-me(src='./imgs/about-me.jpeg')
      .col-md-8
        p
          | Hi, I'm an aspiring Jr. Full Stack JavaScript Developer beginning new a career after completion of Treehouse Techdegree and Code Fellows coding bootcamp. Experience includes completing 12+ projects and final capstone project (MERN Stack SPA) using MongoDB, Express, React, Node, HTML, CSS, Bootstrap and Google Maps API. Eager to learn, open-minded, and passionate about technology.

          | I am currently located in Orlando, FL but able to quickly relocate to start off my career as a Jr. FullStack JavaScript Developer. 
