.background-alt.section#about
  .container
    .row
      .col-md-4
        h2.heading About Me
        img.about-me(src='./imgs/about-me.jpeg')
      .col-md-8
        p.about-first          
          | Hi, I'm a Full Stack JavaScript Developer looking for a new opportunity. I've completed a dozen projects, including a MERN Stack SPA using MongoDB, Express, React, Node, HTML, CSS, Bootstrap and Google Maps API.
        p.about-para  
          | My journey started a few years ago when I realized that the craft brewing industry was no longer providing the technical and problem-solving challenges I desired. 
        p.about-para
          | I went back to my previous love for technology and enrolled in Code Fellows boot camp in Seattle and then in the Full Stack JavaScript program at Team Treehouse online.
        p.about-para 
          | I am currently working in the Orlando, FL area as a Web Developer Intern and am able to quickly relocate if needed.
        p.about-para
          | Currently learning ROS and Python.