.background-alt.section#about
  .container
    .row
      .col-md-4
        h2.heading About Me
        img.about-me(src='./imgs/about-me.jpeg')
      .col-md-8
        p          
          | Hi, I'm an aspiring Full Stack JavaScript Developer beginning a new career with my completion of the Treehouse Techdegree and Code Fellows coding boot camp. My journey started a few years ago when I realized that the craft brewing industry was no longer providing the technical and problem-solving challenges I desired. I went back to my previous love for technology and enrolled in Code Fellows boot camp in Seattle and then in the Full Stack JavaScript Techdegree at Treehouse. I completed a dozen projects, including a capstone project (MERN Stack SPA) using MongoDB, Express, React, Node, HTML, CSS, Bootstrap and Google Maps API, & did 48 peer code reviews. I am excited to start my career by contributing to your development team.
          
          | Eager to learn, open-minded, and passionate about technology.

          | I am currently located in Orlando, FL but able to quickly relocate to start off my career as a Full Stack JavaScript Developer. 
