.section#contact
  h2 Get in Touch
  #contact-form
    form(action='https://formspree.io/apalm112@gmail.com' method='POST')
      input(type='hidden' name='_subject' value='Contact request from personal website')
      input(type='email' name='_replyto' placeholder='Your email' required='')
      textarea(name='message' placeholder='Your message' required='')
      button(type='submit') Send
