.section#education
	h2.heading Education
	.education-block
		h3 Team Treehouse
		span.education-date 2018 - 2019
		h4
			a(href='https://teamtreehouse.com/techdegree/full-stack-javascript', target='_blank') Full Stack JavaScript Techdegree
		ul
			li
				| Completing 12 real-world projects involving 38 courses, 242 quizzes.
			li
				|	Engaged with student community in Slack channels and by providing 48 peer reviews of projects.
			li
				a(href='https://www.credential.net/fqg9bepd', target='_blank') Certification
	//- End .education-block
	
	.education-block
		h3 Code Fellows
		span.education-date 2016 | 4 weeks of intensive courses
		h4 
			a(href='https://www.codefellows.org/courses/code-301/intermediate-software-development/', target='_blank') Code 301: Intermediate Software Development 
		ul
			li
				| Studied the common core of development language concepts and frameworks, including functional programming, data management, SQL, front-end architecture, MVC, and DOM manipulation, in order to develop Single-Page Applications.
			li
				| Collaborated with 4 team members to create and build a SPA using HTML, CSS, JavaScript, AJAX, Firebase, Responsive Web Design, Google Maps API and depolyed on Heroku.
	//- End .education-block

	.education-block
		h3 Code Fellows
		span.education-date 2015 | 4 weeks of intensive courses
		h4 
			a(href='https://www.codefellows.org/courses/code-201/foundations-of-software-development', target='_blank') Code 201: Foundations of Software Development 
		ul
			li
				| Course included defining a web page structure, implemented layout styles using CSS and HTML5, writing JavaScript that leverages fundamentals of computer science and the foundations of using industry tools including Git and GitHub.
			li
				| Collaborated with 3 team members on a group project to create and build a note taking web site utlizing local storage. 
				a(href='https://github.com/clee46/note-fellows', target='_blank') GitHub Repo			
	//- End .education-block
