
#education
  h2.heading Education
  .education-block
    h3 University of Ottawa
    span.education-date Sept 2016 - Sept 2017
    h4 Bachelor of Science in Computer Science
    p
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat laoreet urna. Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus. Fusce eget efficitur libero. Morbi dapibus porta quam laoreet placerat.
  //- End .education-block
  .education-block
    h3 University of Ottawa
    span.education-date Sept 2016 - Sept 2017
    h4 Bachelor of Science in Computer Science
    ul
      li
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      li
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      li
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  //- End .education-block
//- End #education
