
#education
	h2.heading Education
	.education-block
		h3 TEAM TREEHOUSE
		span.education-date 2018 - 2019
		h4
			a(href='https://teamtreehouse.com/techdegree/full-stack-javascript') Full Stack JavaScript Techdegree
		p
			| Completing 12 real-world projects involving 38 courses, 242 quizzes and 203 challenges.
		p
			|	Engaged with student community by providing 47 peer reviews and in Slack channels.
		p
			| 
			a(href='https://www.credential.net/fqg9bepd') Certification
	//- End .education-block
	
	.education-block
		h3 CODE FELLOWS
		span.education-date 2016 | 4 weeks of intensive courses
		h4 Code 201: Foundations of Software Development 
		ul
			li
				| Course included defining a web page structure, implemented layout styles using CSS and HTML5, writing JavaScript that leverages fundamentals of computer science and the foundations of using industry tools including Git and GitHub.
			li
				| Collaborated on a group project 
				a(href='https://github.com/clee46/note-fellows') GitHub Repo
			li
				| 
				a(href='https://www.codefellows.org/courses/code-201/foundations-of-software-development') codefellows 201
	//- End .education-block
	
	.education-block
		h3 CODE FELLOWS
		span.education-date 2016 | 4 weeks of intensive courses
		h4 Code 301: Intermediate Software Development 
		ul
			li
				| Collaborated with 4 team members to create and build a SPA using HTML, CSS, JavaScript, AJAX, Firebase, Responsive Web Design, Google Maps API and depolyed on Heroku:
				a(href='http://project-inoculation.herokuapp.com/') Deployed Site 
			li
				| Collaborated with a team of 4 to develop a JavaScript application using a mobile-first approach with Firebase integration.
			li
				| 
				a(href='https://www.codefellows.org/courses/code-301/intermediate-software-development/') codefellows 301
			li
				| Studied the common core of development language concepts and frameworks, including functional programming, data management, SQL, front-end architecture, MVC, and DOM manipulation, in order to develop Single-Page Applications.
	//- End .education-block
