.background-alt.section#experience
	
	h2.heading Work History
	#experience-timeline
		div(data-date='May 2019 – Current')
			h3 NeoWare Studios | Orlando, FL
			h4 Web Developer Intern
			p
				| Develop in HTML, CSS and JavaScript, push changes to NeoWare website GitHub repository.
			p 
				| Match mockups for client app in React Native using Android Studio.
			p
				| Make updates and publish changes to the client website.
		div(data-date='March 2007 – October 2015')
			h3 Pike Brewing Company | Seattle, WA
			h4 Brewer
			p
				| Responsible for monitoring and executing all aspects of the brewing process from brewing to packaging.
			p
				| Collaborated with team members on scheduling complex and time sensitive brewing process that ensured quality control.
			p
				| Trained oncoming team members in proper brewhouse processes.
		div(data-date='June 2005 – March 2007')
			h3 Mobile Bottling Source | Seattle, WA
			h4 Mobile Beer Bottler
			p
				| Worked with client breweries within the Pacific Northwest to bottle their product in a sanitary and efficient manner.
			p
				| Maintained relationships, schedules and completed each project with little supervision.
