#experience.background-alt
	h2.heading Experience
	#experience-timeline
		div(data-date='03/2007 – 10/2015')
			h3 PIKE BREWING COMPANY | Seattle, WA
			h4 Brewer
			p
				| Managed the daily production of over a dozen different beer styles with 5 team members. 
			p
				| Collaborated with team members on scheduling complex and time sensitive brewing process that ensure high quality.
			p
				| Trained oncoming team members in proper brewhouse processes.
		div(data-date='06/2005 – 03/2007')
			h3 MICROBEER SOURCE | Seattle, WA
			h4 Mobile Beer Bottler
			p
				| Serviced brewery clients within the Northwest with mobile bottling and packaging.
			p
				| Maintained relationships, schedules and completed each project with no oversight.
			p
				| Lorem ipsum
		div(data-date='05/2002 – 03/2007')
			h3 K/P CORPORTION | Seattle, WA
			h4 Press Assistant
			p
				| Responsible for assisting press operator in completing high quality printed materials for large Northwest companies.
			p
				| Lorem ipsum
