#experience.background-alt
  h2.heading Experience
  #experience-timeline
    div(data-date='September 2015 – September 2016')
      h3 Employer Name
      h4 Job Title
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat laoreet urna. Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus. Fusce eget efficitur libero. Morbi dapibus porta quam laoreet placerat.
    div(data-date='September 2015 – September 2016')
      h3 Employer Name
      h4 Job Title
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat laoreet urna. Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus. Fusce eget efficitur libero. Morbi dapibus porta quam laoreet placerat.
    div(data-date='September 2015 – September 2016')
      h3 Employer Name
      h4 Job Title
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat laoreet urna. Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus. Fusce eget efficitur libero. Morbi dapibus porta quam laoreet placerat.
//- End #experience
