.background-alt.section#experience
	
	h2.heading Work History
	#experience-timeline
		div(data-date='March 2007 – October 2015')
			h3 Pike Brewing Company | Seattle, WA
			h4 Brewer
			p
				| Responsible for monitoring and executing all aspects of the brewing process from brewing to packaging.
			p
				| Collaborated with team members on scheduling complex and time sensitive brewing process that ensured quality control.
			p
				| Trained oncoming team members in proper brewhouse processes.
		div(data-date='June 2005 – March 2007')
			h3 Mobile Bottling Source | Seattle, WA
			h4 Mobile Beer Bottler
			p
				| Worked with client breweries within the Pacific Northwest to bottle their product in a sanitary and efficient manner.
			p
				| Maintained relationships, schedules and completed each project with little supervision.
		div(data-date='May 2002 – May 2005')
			h3 K/P Corporation | Seattle, WA
			h4 Press Assistant
			p
				| Responsible for assisting press operator in completing high quality printed materials for large Northwest companies.
			p
				| Managed paper supply, ink levels and general maintenance of the press.
