.background-alt.section#experience
	
	h2.heading Work History
	#experience-timeline
		div(data-date='May 2019 – Current')
			h3 NeoWare Studios | Orlando, FL
			p
				a.link.weblink(href='https://www.neowarestudios.com', target='_blank')
					| neowarestudios.com
			h4 Web Developer Intern
			p
				| Write code in HTML, CSS and JavaScript to create user-oriented visuals and features.
			p
				| Apply version control software (Git) to track and update changes to pre-existing source code.
			p 
				| Match mockups for client app in React Native using Android Studio.
			p
				| Fix bugs from existing websites and publish changes to the client website.
		div(data-date='March 2007 – October 2015')
			h3 Pike Brewing Company | Seattle, WA
			h4 Brewer
			p
				| Responsible for monitoring and executing all aspects of the brewing process from brewing to packaging.
			p
				| Collaborated with team members on scheduling complex and time sensitive brewing processes that ensured quality control.
			p
				| Trained oncoming team members in proper brewhouse processes.
		div(data-date='June 2005 – March 2007')
			h3 Mobile Bottling Source | Seattle, WA
			h4 Mobile Beer Bottler
			p
				| Worked with client breweries within the Pacific Northwest to bottle their product in a sanitary and efficient manner.
			p
				| Maintained client relationships, schedules and completed each project with little supervision.
