nav.nav#navbar
	//- img.hamburger(src='https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png')
	input(type='checkbox' id='css-toggle-menu' name='css-toggle-menu')
	ul.menu
		li.nav-li(data-content='/about')
			a#nav-anchor(href='#about') About
		li.nav-li(data-content='/education')
			a#nav-anchor(href='#education') Education
		li.nav-li(data-content='projects')
			a#nav-anchor(href='#projects') Projects
			li.nav-li(data-content='skills')
				a#nav-anchor(href='#skills') Skills
		li.nav-li(data-content='Work History')
			a#nav-anchor(href='#experience') Work History
		li.nav-li(data-content='/contact')
			a#nav-anchor(href='#contact') Email
		li
			a(href='https://www.github.com/apalm112' target='_blank')
				i.fa.fa-github(aria-hidden='true')
		li
			a(href='https://www.linkedin.com/in/adapalmer' target='_blank')
				i.fa.fa-linkedin(aria-hidden='true')
	label(for='css-toggle-menu' id='css-toggle-menu')
