nav.nav
	ul
		li.nav-li(data-content='/about')
			a.nav-anchor(href='/') About
		li.nav-li(data-content='projects')
			a.nav-anchor(href='/projects') Projects
		li.nav-li(data-content='Experience')
			a.nav-anchor(href='/experience') Experience
		li.nav-li(data-content='skills')
			a.nav-anchor(href='/skills') Skills
		li.nav-li(data-content='github')
			a.nav-anchor(href='https://www.github.com/apalm112') GitHub
		li.nav-li(data-content='linkdin')
			a.nav-anchor(href='https://www.linkedin.com/in/adapalmer' target='_blank') LinkedIn
