nav.nav#navbar
	ul
		li.nav-item.nav-li(data-content='/about')
			a.nav-link#nav-anchor(href='#about') About
		li.nav-item.nav-li(data-content='/education')
			a.nav-link#nav-anchor(href='#education') Education
		li.nav-item.nav-li(data-content='projects')
			a.nav-link#nav-anchor(href='#projects') Projects
			li.nav-item.nav-li(data-content='skills')
				a.nav-link#nav-anchor(href='#skills') Skills
		li.nav-item.nav-li(data-content='Work History')
			a.nav-link#nav-anchor(href='#experience') Work History
		li.nav-item.nav-li(data-content='/contact')
			a.nav-link#nav-anchor(href='#contact') Email
