.section#skills
  h2.heading(data-delighter) Skills
  ul(data-delighter)
    li JavaScript
    li HTML5
    li CSS3
    li Sass
    li jQuery
    li Bootstrap
    li Node.js
    li Express
    li React
    li React Router
    li Git
    li GitHub
    li AJAX
    li REST API
    li NPM
    li Gulp
    li Pug
    li Linux
    li Bash Shell
    li SQL
    li MongoDB
    li Mocha
    li Chai
