#skills
  h2.heading Skills
  ul
    li JavaScript
    li Python
    li Ruby
    li Go
    li Node.js
    li AngularJs
    li React
    li Elixir
    li Java
    li C
    li C#
    li C++
    li Ruby on Rails
    li JavaScript
    li Python
    li Ruby
    li Go
    li Node.js
    li AngularJs
    li React
    li Elixir
    li Java
    li C
    li C#
    li C++
    li Ruby on Rails
//- End #skills
