#skills
  h2.heading Skills
  ul
    li JavaScript
    li HTML5
    li CSS3
    li Sass
    li Node.js
    li jQuery
    li React
    li AJAX
    li REST API
    li NPM
    li Gulp
    li JSON
    li Express
    li Git
    li Pug
    li Bash Shell
    li MongoDB
    li SQL
