.section#skills
  h2.heading.right.delighter(data-delighter='') Skills
  ul(data-delighter='').delighter.started
    li JavaScript
    li HTML5
    li CSS3
    li Sass
    li Express
    li Node.js
    li jQuery
    li React
    li React Router
    li Git
    li GitHub
    li AJAX
    li REST API
    li NPM
    li Gulp
    li Pug
    li Bash Shell
    li SQL
    li MongoDB
    li Linux
    li Mocha
    li Chai
    li Bootstrap
