node_modules
package-lock.json

public/.sass-cache

bootstrap-4.3.1-*

public/css/app.css
public/css/app.css.map

dist/

digital-ocean.md
notes.md

# VS Code
portfolio-dashboard-combo.code-workspace
Portfolio-Jobs.code-workspace
Portfolio*.code-workspace
