doctype html
html(lang='en')
	head
		//- Global site tag (gtag.js) - Google Analytics
		script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-139067206-1')
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-139067206-1');
		meta(charset='UTF-8')
		title Adam Palmer
		meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
		//- link( rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Droid+Sans')
		//- link(rel='stylesheet' href='./libs/font-awesome/css/augmented.css')
		link(rel='stylesheet' type='text/css' href='https://unpkg.com/augmented-ui/augmented.css')
		link(rel='shortcut icon' href='../favicon.ico' type='image/x-icon')
		link(rel='icon' href='../favicon.ico' type='image/x-icon')
		link(rel='stylesheet' href='./css/bootstrap.min.css')
		link(rel='stylesheet' href='./libs/font-awesome/css/font-awesome.css')
		link(rel='stylesheet' href='./css/app.css')
	body(data-spy='scroll' data-offset='10' data-target='.navbar')
		include partials/nav.pug
		include includes/header.pug
		main.container-main
			include partials/about.pug
			include partials/projects.pug
			include partials/skills.pug
			include partials/education.pug
			include partials/experience.pug
			include partials/contact.pug
		include includes/footer.pug
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
		script(type='text/javascript' src='./js/bootstrap.min.js')
		script(type='text/javascript' src='./js/delighters.js')
		script(type='text/javascript' src='./js/portfolio.js' )
		script(type='text/javascript' src='./js/dark-mode.js')
		script(type='text/javascript' src='./js/ascii-art.js')
		script(type='module').
		import "https://unpkg.com/aug-attr-spliced/aug-attr-spliced.js"

		