doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title Portfolio
		meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
		//- link( rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Droid+Sans')
		link(rel='stylesheet' href='./css/bootstrap.min.css')
		link(rel='stylesheet' href='./css/app.css')
	body
		include partials/nav.pug
		include includes/header.pug
		main.container-main
			include partials/about.pug
			include partials/experience.pug
			include partials/projects.pug
			include partials/skills.pug
			include partials/education.pug
			include partials/contact.pug
		include includes/footer.pug
