#about {
  background-color: $primary;
  border-bottom: 1px solid $border;
  padding: 75px 15px;
  margin: auto;

  h2 {
    color: $heading;
  }

  .heading {
    position: relative;
    display: inline-block;
    font-size: 2em;
    font-weight: 300;
    margin: 0 0 30px 0;
    &::after {
      background: $base-color;
      content: '';
      height: 1px;
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      width: 50px;
    }
  }

  .about-me {
    border-radius: 50%;
    display: block;
    margin-top: -10px;
    margin-left: -15px;
  }

  p {
    color: $text;
    margin: 0;
  }

  .col-md-8 {
    // text-align: justify;
    // left: -10px;
  }
  .about-first {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .about-para {
    margin: 10px 0;
  }
}


.glitch::after {
  content: attr(data-text);
  display: inline-block;
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 #fbe806;
  top: 0;
  color: #374054;
  background: $primary;
  pointer-events: none;
  overflow: hidden;
  animation: noise-anim 5.25s infinite linear alternate-reverse;
}

.glitch::before {
  content: attr(data-text);
  display: inline-block;
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 #5da1c6;
  top: 0;
  color: #374054;
  background: $primary;
  overflow: hidden;
  pointer-events: none;
  animation: noise-anim-2 2s infinite linear alternate-reverse;
}