footer {
  background-color: $gray-300;
  clear: both;
  padding: 2px 0;
  text-align: center;
  width: 100%;

	.container {

		.row {

			.copyright {
			  padding-top: 20px;
			}

			ul {

				li {
					display: inline-block;
					font-size: 2.25em;
					list-style: none;
					padding: 0 20px;
				}
			}
		}
	}

	span {
		cursor: pointer;
		display: block;
		margin: 15px auto 0;
		width: 35px;
		height: 35px;
		border-radius: 50%;
		border: 3px solid $footer-span-grey;
		text-align: center;

		i {
			color: $footer-i-grey;
			display: inline-block;
			font-size: inherit;
			text-rendering: auto;
		}
	}
}

.icon-footer:hover {
	color: $base-color;
}