.project-container {
  margin: auto;
  overflow: hidden;
  padding: 3% 0;
  scroll-behavior: smooth;
  text-align: center;

  a {
    color: darken($my-base-color, 10%);
    &:hover {
      color: $blue;
    }
  }
}

h2 {
  color: $heading;
  margin-bottom: 50px;
}

.heading {
  position: relative;
  display: inline-block;
  font-size: 2em;
  font-weight: 300;
  margin: 0 0 30px 0;

  &::after {
    position: absolute;
    content: '';
    top: 100%;
    height: 1px;
    width: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: $base-color;
  }
}

.wrapper {
  margin: 0 45px;
  padding: 20px;
  max-width: 100%;
}

.card {
  background-color: inherit;  // overrides Bootstrap style
  border: 0;  // overrides Bootstrap style
	text-align: center;
  margin-bottom: 45px;
}

.card-title {
	font-size: 175%;
	line-height: 1.5;
	margin-top: 10px;
	margin-bottom: -5px;
}

.card-text {
  display: block;
  orphans: 2;
  padding: 0 4rem;
}

img {
  // RWD style for images
  height: auto;
  max-width: 100%;
  padding: 1.1rem 2.3rem;
}

.size {
  height: 250px;
  width: 400px;
}

.link {
  // height: 300px;
  overflow: hidden;
}

.card-text a {
  padding-right: 1em;
  
  i {
    padding-left: 1em;
  }
}

  /* =====================================
   Grid Layout
======================================== */

.grid {
	max-width: 1000px;
	display: grid;
	/* track list sets three column tracks */
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-template-rows: 100px 100px;	/* <--are the explicit grid values */
	grid-column-gap: 15px;  /* <-- is gutter value */
	grid-row-gap: 15px;  /* <-- is gutter value */
	grid-auto-rows: minmax(150px, auto); /* <--are the implicit grid values */
	grid-auto-flow: row;
}

.grid {
  background: #fff;
  border-radius: 0.285em;
  box-shadow: 0 0.1em 0 0 rgba(0,0,0,0.1);
	margin: 45px auto;
}

.item {
  color: #fff;
  text-shadow: 0 2px 0 rgba(110,133,156,0.18);
  padding: 0.85em;
  background: #6e859c;
  border: solid 1px rgba(110,133,156,0.15);
  border-radius: 0.3em;
}

.item:nth-child(even) {
  background: #a5cee9;
}