/*************************************
NAVBAR
*************************************/
@keyframes dropHeader {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.nav {
  font-size: 90%;
	height: 7vh; // 40px;
	margin: 0 0 1.2em 0;
  padding-top: 10px;
  text-align: center;

  z-index: 10;
  animation-name: dropHeader;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 0.75s;

	ul {
		margin: 0 auto;
		padding-left: 0;
		padding-top: 2px;
		li {
			display: inline-block;
      a {
          display: block;
          color: $base-color;
          padding: 10px;

          &:hover {
              color: $base-color-hover;
              text-decoration: none;
              background: #eee;
              border-radius: 4px;
              padding: 15px;
          }

          &:focus {
              color: $base-color;
              text-decoration: none;
          }
      }

		}
	}
}

.nav:hover > ul > li {
	cursor: pointer;
}

.nav-li {
	padding-left: 0.8rem;
	padding-right: 0.8rem;
}

// This gets the <a></a> on one line
#nav-anchor {
  padding: 0.01rem 0.2rem 0rem 0.2rem;
  // &:hover {
  //   padding: 3px 10px;
  // }
}

.sticky {
  // This class is added w/ JS when it reaches its scroll position.
  background-color: darken($primary, 15%);
  height: 8vh !important;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 22;
}
