.project-container {
  margin: auto;
  overflow: hidden;
  padding: 3% 0;
  scroll-behavior: smooth;
  text-align: center;

  a {
    color: darken($my-base-color, 10%);
    &:hover {
      color: $blue;
    }
  }
}

h2 {
  color: $heading;
  margin-bottom: 50px;
}

.heading {
  position: relative;
  display: inline-block;
  font-size: 2em;
  font-weight: 300;
  margin: 0 0 30px 0;

  &::after {
    position: absolute;
    content: "";
    top: 100%;
    height: 1px;
    width: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: $base-color;
  }
}

// .wrapper {
//   margin: 0 45px;
//   padding: 20px;
//   max-width: 100%;
// }

.card {
  background-color: inherit; // overrides Bootstrap style
  border: 0; // overrides Bootstrap style
  text-align: center;
  margin-bottom: 15px;  //45px;
  /* Slider style */
  scroll-snap-align: center;
}

.card-title {
  font-size: 175%;
  margin-top: 10px;
  margin-bottom: 0;
}

.card-text {
  display: block;
  orphans: 2;
  padding: 0 2rem;   //4rem;
  margin-top: 15px;
}

.card.item {
  max-width: 80%;
  // left: 18px;
  justify-self: center;
}


.size {
  // height: 75%;
  max-height: 100%;
  width: 100%;
  border-radius: 5px;
}

.link {
  overflow: hidden;
}

.card-text a {
  padding-right: 1em;
  flex-direction: row;
}

.contain {
  // flexbox for buttons
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-end;
}

.demo {
  padding: 0rem .75rem; // centers the button text
  width: auto;
  height: 30px;
  margin: 10px 5px;
  background-color: lighten($base-color, 60%);
  flex: 0 1 auto;
  align-self: auto;

  &:hover {
    background-color: $base-color;
    color: $white;
  }
}

/* =====================================
   Grid Layout
======================================== */
.grid {
  border-radius: 0.285em;
  // margin: 45px auto;

  max-width: 1400px;
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(425px, 1fr));
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  place-content: center;
  // grid-auto-rows: minmax(450px, auto);
  // grid-auto-flow: row;
}

.item {
  border: solid 2px rgba(51, 59, 66, 0.15);
  // border-radius: 0.6em;
}

/* TODO: 
        -remove 
        @media only screen and (max-width: 376px)
          .wrapper {
            padding: 0;
            margin: 0 35px;
        }
        so that at smallest viewport size the project cards take up moar space, looks better

    /* track list sets three column tracks */
// grid-template-rows: 100px 100px;	/* <--are the explicit grid values */
