// ------ Skills Styles -----


#skills {
  padding: 50px 15px;
  text-align: center;

  h2 {
    color: $heading;
    margin-bottom: 50px;
  }

  ul {
    display: block;
    margin: 0 auto;
    max-width: 800px;
    padding: 0;
  }

  li {
    background: darken($background-alt, 5%);
    color: $heading;
    cursor: default;
    display: inline-block;
    font-size: 1.2em;
    list-style: none;
    margin: 7px;
    padding: 5px 10px;
  }
}
