/***********************************************************
Media Queries
***********************************************************/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 226px) {
  /* Make the Header Nav stay responsive ****************************/
  .nav {
    margin-bottom: 135px !important;
    margin-bottom: 78px;
    padding: 18px;
    height: 18vh !important;

    ul > li:last-child {
      padding-top: 0 !important;
    }

    li {
      margin: 0.7rem 0;
    }
  }

  img {
    /* Adds line between .card rows  */
    border-bottom: 1px solid #fff;
  }
}  //<----------------OK

@media only screen and (max-width: 299px) {
  .nav {
    margin-bottom: 77px;
    padding: 5px 20px 110px 20px;
  }

  .nav ul > li:last-child {
    // padding-top: 1rem;
  }
  .jumbotron, .jumbotron-center {
    padding: 0;
  }
  .btn {
    top: 62%;
  }
} //<----------------OK

@media only screen and (max-width: 376px) {
  .nav {
    height: 8.2vh;
    > ul > li {
      padding-top: 5px;
      height: 3vh;
    }
  }

  .header {
    height: auto;
    min-height: 350px;
    margin-top: 75px;
  }

  .card-text {
    padding: 0;
  }

  .size {
    padding: 0;
  }

  .wrapper {
    padding: 0;
    margin: 0 35px;
  }

  .line {
    max-width: 100% !important;
  }

  #navbar {
    height: 12.2vh;
  }

  #about .about-me {
    margin-left: 17% !important;
  }
} //<----------------OK

@media only screen and (max-width: 575px) {
  footer {
    span {
      margin: 0 auto;
    }

    ul {
      margin-top: 5px;
      padding-left: 0;
    }
  }
}

@media only screen and (max-width: 640px) {
  /* No line for the last row of .cards  */
  .wrapper > div:nth-child(n + 12) {
    hr {
      border: 0;
    }
  }

  #about .about-me {
    padding: 0;
  }
}

@media only screen and (max-width: 934px) {
  .line {
    max-width: 55%;
  }
}

@media only screen and (min-width: 376px) {
  .nav {
    height: 6vh;
  }

  .header {
    height: auto;
    min-height: 390px;
  }

  .card-text {
    padding: 0 1em;
  }
}

@media only screen and (min-width: 480px) {
  .header {
    min-height: 405px;
  }
}
@media only screen and (min-width: 530px) {
  .header {
    min-height: 415px;
  }
}
@media only screen and (min-width: 575px) {
  .header {
    min-height: 430px;
  }

  .title-job {
    font-size: 35px;
  }

  .btn {
    top: 65%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 641px) {
  .nav {
    height: 5vh;

    ul {
      font-size: 135%;  // 135%
    }

    li {
      padding-left: 20px;
      padding-right: 20px;

      a {
        font-size: 110%;
      }
    }
  }

  .header {
    min-height: 445px;
  }

  .btn {
    top: 55%;
  }

  .wrapper > div:nth-child(n + 12) {
    hr {
      border: 0;
    }
  }

  img {
    padding: 0;
  }

} //<----------------OK

@media only screen and (min-width: 680px) {
  .header {
    min-height: 455px;
  }
}

@media only screen and (min-width: 641px) and (max-width: 700px) {
  .nav {
    height: 8vh;
  }
}

@media only screen and (min-width: 725px) {
  .header {
    min-height: 480px;
  }
}

@media only screen and (min-width: 934px) {
  /* Large devices (laptops/desktops, 992px and up) ***************/
  .header {
    padding: 0;
  }

  /* pop out to two cards side by side on the screen, so projects display 2 x 6 **/
  .wrapper > div:nth-child(n + 11) {
    hr {
      border: 0;
    }
  }

  .card {
    display: inline-block;
    width: 45%;

    img {
      max-width: 100%;
      padding: 0 1rem;
      width: 450px;
    }
  }
}

@media only screen and (min-width: 934px) {
  .title-job {
    left: -103%;
    top: 220px;
    font-size: 35px;
  }

  .btn {
    left: -104%;
    top: 290px;
  }
}

/* Switch to three Cards on larger screens ********************/
@media only screen and (min-width: 1250px) and (orientation: landscape) {
  .wrapper > div:nth-child(n + 10) {
    hr {
      border: 0;
    }
  }

  .card {
    width: 33%;

    img {
      padding: 0 0.9rem;
    }
  }
}

// Collapse timeline
@media only screen and (max-width: 750px) {

  #experience-timeline {
    &:before, &:after {
        left: 23px;
    }
  }

  .vtimeline-date {
    width: auto;
    text-align: left;
    position: relative;
    margin-bottom: 15px;
    display: block;
    margin-left: 70px;
  }

  .vtimeline-icon {
    margin-left: 0;
  }

  .vtimeline-content {
    margin-left: 70px;
  }

}

// Medium Devices
@media only screen and (max-width : 992px) {
  #about {
    text-align: center;

    p {
      text-align: left;
    }
  }
}

// Small Devices
@media only screen and (max-width: 768px) {
  #about h2::after {
    top: 90%;
  }

  #about .about-me {
    margin-left: 30%; // 17%
  }

  .col-md-4 {
    margin-bottom: 25px;
  }

  .education-block {
      h3, span {
          float: none;
      }
  }

  .project-image {
      display: none;
  }

  .project-info {
      position: relative;
      margin: 0;
      padding: 30px 15px;
      top: auto;
      transform: none;
  }

  footer {
      text-align: center;
  }

  .social {
      text-align: center;
  }

}
