/***********************************************************
Media Queries
***********************************************************/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 376px) {
  .header {
    height: auto;
    min-height: 350px;
  }
  .wrapper {
    margin: 0 10px;
  }
  .title-job {
    left: -98%;
  }
}

@media only screen and (max-width: 575px) {
  footer {
    span {
      margin: 0 auto;
    }
    ul {
      margin-top: 5px;
      padding-left: 0;
    }
  }
}

@media only screen and (min-width: 376px) {
  .header {
    height: auto;
    min-height: 390px;
  }
}

@media only screen and (min-width: 575px) {
  .title-job {
    font-size: 35px;
    left: -102%;
    top: 185px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 641px) {
  .nav {
    ul {
      font-size: 135%;
    }
    li {
      padding-left: 10px;
      padding-right: 10px;
      a {
        font-size: 110%;
      }
    }
  }
}

@media only screen and (min-width: 811px) and (max-width: 816px) {
  .nav {
    // height: 16vh;
  } 
}

@media only screen and (min-width: 934px) {  // 725px`
  .card-text {
    padding: 0 12rem;  //is breaking on 934px to 920px size!
  }
}

@media only screen and (min-width: 934px) {
  .card-text {
    padding: 0 4rem;
  }
  .title-job {
    top: 220px;
    font-size: 35px;
  }
  .btn-resume {
    left: -107%;
    top: 290px;
  }
}

@media only screen and (min-width: 994px) { // 1024px) {
/* Large viewport sizes and up **********************************************/
/*                            **********************************************/
// TODO:   fix grid bug @1024px to 920px goes to 2 column grid layout and the cards are overlapping

  .header {
    padding: 13% 0;
  }
  .grid {
    max-width: 1200px; // 1000px;
    grid-row-gap: 0;
    grid-column-gap: 0; //25px;
  }
  .card.item {
    max-width: 90%;
    justify-self: center;
    padding: 0 20px;
    margin: 25px auto;
  }
  .card-text {
    padding: 0 1rem; // 7rem;
  }
  .nav {
    padding-right: 45px;
  }
  .size {
    max-width: 100%;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1367px) and (orientation: portrait) {
  /* For iPad Pro viewport size */
    .nav {
        height: 5vh;
    }
}

@media only screen and (min-width: 1100px) {
  .card-text {
    // padding: 0 6rem;
  }
  .btn-resume {
    left: -106%;
  }
  .col-md-4 {
    flex: 0 0 26.33%;
  }
  #about .heading {
    left: 13px;
  }
  .grid {
    margin: 5px auto;
  }
}

@media only screen and (min-width: 1196px) {
  .title-job {
    left: -104%;
  }
}

/* =====================================
     HAMBURGER MENU
======================================== */
@media only screen and (max-width: 674px) {
  nav {
    position: relative;
  }
  nav ul {
    transform: translateY(0);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    background: $gray-800;
  }
  nav li {
    flex: none;
    width: 100%;
    border-bottom: solid 1px #777;
  }
  nav input[type="checkbox"]:checked + ul {
    transform: translateY(-100%);
    width: 100%;
    background: #999;
    transition: all 0.5s;
  }
  nav label {
    display: block;
  }
  nav input[type="checkbox"]:checked + ul li:nth-child(1) {
    background: #777;
    color: $white;
  }
}

/* =====================================
     Collapse timeline
======================================== */
@media only screen and (max-width: 750px) {
  #experience-timeline {
    &:before,
    &:after {
      left: 23px;
    }
  }
  .vtimeline-date {
    width: auto;
    text-align: left;
    position: relative;
    margin-bottom: 15px;
    display: block;
    margin-left: 70px;
  }
  .vtimeline-icon {
    margin-left: 0;
  }
  .vtimeline-content {
    margin-left: 70px;
  }
}

// Medium Devices
@media only screen and (max-width: 992px) {
  #about {
    text-align: center;
    p {
      text-align: left;
    }
  }
}

// Small Devices
@media only screen and (max-width: 768px) {
  #about h2::after {
    top: 90%;
  }
  #about .about-me {
    margin: 0 auto;
  }
  .col-md-4 {
    margin-bottom: 25px;
  }
  .education-block {
    h3,
    span {
      float: none;
    }
  }
  .project-image {
    display: none;
  }
  .project-info {
    position: relative;
    margin: 0;
    padding: 30px 15px;
    top: auto;
    transform: none;
  }
  footer {
    text-align: center;
  }
  .social {
    text-align: center;
  }

  /* =====================================
    Slider Styles
======================================== */
  .slider {
    /* line the divs up horizontally */
    display: flex;
    /* allow for scrolling */
    overflow-x: scroll;
    /* make it smooth on iOS */
    -webkit-overflow-scrolling: touch;

    margin: 0 8px;

    /* add snap points for each slide */
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: x mandatory;
  }

  .slider > div {
    /* make sure the width is honored */
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    margin: 0 20px;
  }
}
