img {
  max-width: 20%;
  float: right;
}

.code-png {
  max-width: 100%;
}

body {
  padding: 2em;
  line-height: 1.5;
  font-size: 100%;
}

main {
  margin: auto;
  width: 75%;
}

ul {
  list-style: none;
}

footer p {
  padding: 4em;
}
