body {
  padding: 2em;
  background-color: #708EA0;
}

header {
  background-color: #82A39F;
}

main {
  margin: auto;
  width: 75%;
}

a, a:link, a:active {
  text-decoration: none;
}

ul {
  list-style: none;
}

footer p {
  padding: 4em;
}
