
/* Changes the main-nav to hamburger menu on window resize. */
@media (min-width: 895px) {
  /* .main-nav ul {
    display: block;
  }
  .main-nav li {
    display: inline-block;
    padding: 0.5em 0.5em;
    border-bottom: none;
  } */
}

/* Keeps the main-nav ul on one line at window resize of 990px */
@media (max-width: 990px) {
  .main-nav li {
    /* padding: 10px 10px; */
  }
}

/* these don't do anything? */
/*@media (max-width: 840px) {
  .main-nav li {
    padding: 0.1em 0.1em;
  }
}

@media (max-width: 640px) {
  .main-nav li {
    padding: inherit;
  }
}*/

/*@media only screen and (min-width: 838px) {
.nav-list {
display: block;
padding: ;
}
}*/

/*@media only screen and (min-width: 900px) {
  .heading-group-h1 {
    padding: .1em .1em .1em .2em;
    float: none;
  }
}*/

/* does what? */
/* @media only screen and (min-width: 640px) {
  .heading-group-h1 {
    padding:  .1em .1em .1em 2em;
    float: none;
  }
} */
