.h1-name {
  align-items: center;
	font-weight: bolder;
	padding: 0 0.1em 0 .1em;
}

.main-nav {

}

.main-nav:hover ul {

}

.main-nav li {

}

.jumbotron {
	padding-top: 10px;
}

/* These two styles get the <a></a> on one line  */
.nav-link {
	padding: 0.01rem 0.2rem 3rem 0.2rem;
}
.nav-link:first-child {
	padding: 0.01rem 0.2rem 3rem 0.6rem;
}
