.heading-group-h1 {
  float: left;
  padding: 0 0 .2em .1em;
}

.icon-menu {
  display: block;
  transform: scale(1.4);
  position: absolute;
  right: 0px;
  top: 0px;
}

.main-nav {
  padding: .1em;
  position: relative;
}

.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav:hover ul {
  display: block;
}

.main-nav li {
  font-size: 1.5em;
  padding: .5em .2em;
}

.template {
  display: none;
}

@media (min-width: 640px) {
  .icon-menu {
    display: none;
  }
  .main-nav ul {
    display: block;
  }
  .main-nav li {
    display: inline-block;
    padding: 0.5em 0.5em;
  }
}

/* Keeps the main-nav ul on one line at window resize of 990px */
@media (max-width: 1000px) {
  .main-nav li {
    padding: 0.1em 0.1em;
  }
}

/* these don't do anything?
@media (max-width: 840px) {
  .main-nav li {
    padding: 0.1em 0.1em;
  }
}*/
/*
@media (max-width: 640px) {
  .main-nav li {
    padding: inherit;
  }
}*/
